table, th, td{
  border: 0px solid #000;
  /* border-collapse: collapse; */
  margin:15px
}

table{
  width: 600px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px 5px;
}

th, td{
  padding: 20px;
}